@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Meie+Script&family=Parisienne&family=Roboto&family=Sail&display=swap');

/* --------------- SPECIAL TEXT  ------------------------ */

.uppercase {
    text-transform: uppercase;
}

/* Highlight current page in the navigation bar */
.active-page {
    text-decoration: underline;
}

.page-title {
    font-size: 48pt;
    font-family: 'Meie Script', 'Times New Roman', Times, serif;
    color: #e8bcde;
    padding-right: 30px;
}

/* --------------- SPECIAL POSITIONING ------------------ */

.page-heading {
    height: 240px;
    padding-top: 140px;
    margin: 0;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    display: inline-block;
    text-align: center;
    font-size: 32px; 
    line-height: 30px; 
}

.w95 {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.page-title-container {
    position: relative;
    background-color: #e8c1bc;
}

.question-page-heading {
    padding: 0;
}

.side-image {
    padding: 0;
}

.orange-background {
    background-color: #e8c1bc;
}

/* --------------- PAGE BACKGROUNDS --------------------- */

#index-body {
    background-color: #e8bcde;
}

/* --------------- HEADER AND NAVIGATION ---------------- */

/* Total Header Bar */

.header-section {
    font-family: 'Courgette', 'Times New Roman', Times, serif;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.header-section a {
    color: #4A3C47;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 120px;
}

.logo-header, .navbaritem {
    height: 120px;
    text-align: center;
    padding: 0;
}

/* Site Logo */

.logo-header {
    text-align: left;
    background-color: #e8bcde;
}

.logo-header h1 {
    padding-top: 10px;
}

.logo-header i {
    display: inline-block;
    font-size: 32pt;
}

.logo-header a {
    font-family: 'Sail', 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-left: 10px;
}

.logo-header span {
    font-size: 50pt;
}

/* Navigation Bar */

#nav li {
    font-size: 14pt;
    padding: 0;
}

.navbaritem i {
    display: block;
    padding-top: 33px;
    font-size: 22pt;
}

.navbaritem p {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;    
}

.ui-menu-colour {
    background-color:  #a87d9f;
}

/* Hover.css: change starting colour */
.hvr-shutter-in-vertical:before {
    background: #e8bcde;
}

/* Hover.css: animation colours */
.hvr-shutter-in-vertical:hover {
    background-color: rgba(0,0,0,0);
    color: #d0bce8;
}

/* Hover.css: un-shuttering colour */
.hvr-shutter-in-vertical {
    background-color: transparent;
}

/* --------------- HOMEPAGE SECTION --------------------- */

/* Hero Image */

#hero-outer {
    height: 600px;
    overflow: hidden;
    position: relative;
    top: 120px;
}

#hero-image {
    height: 480px;
    width: 100%;
    background-image: url('../images/index_hero_image.png');
    background-color: #e8bcde;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -110px;
    background-position-x: center;
    overflow: hidden;
    z-index: 0;
}

#hero-info {
    text-align: center;
    background-color: rgba(74, 60, 71, 0.5);
    padding-bottom: 20px;
}

#hero-title {
    font-family: 'Meie Script', 'Times New Roman', Times, serif;
    font-size: 46pt;
    color: #e8bcde;
    text-align: center;
    display: block;
    position: center;
    line-height: 85px;
    margin-top: 300px;
    margin-bottom: 0px;
}

#hero-invite {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    color: #e8bcde;
    text-align: center;
    margin-bottom: 16px;
}

.hero-rsvp {
    color: #4A3C47;
    background-color: #e8bcde;
    border-color: #a87d9f;
}

.hero-rsvp:hover {
    color: #d0bce8;
    background-color: #a87d9f;
    border-color: #e8bcde;
}

/* Homepage Information Section */

.homepage-details {
    height: 360px;
    color: #4A3C47;
}

.homepage-title {
    font-family: 'parisienne', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30pt;
    padding-top: 50px;
}

.homepage-text {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    word-spacing: 2px;
}

.homepage-images {
    text-align: center;
    padding: 0;
    border-color: #e8c1bc;
    border-style: solid;
    border-width: 10px;
}

.homepage-ceremony-image {
    height: 340px;
    background-image: url('../images/index_cathedral.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
}
.homepage-reception-image {
    height: 340px;
    background-image: url('../images/index_reception.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
}

/* Homepage Image Section */

.homepage-bottom-image {
    height:360px;
    text-align: center;
    padding: 0;
    border-color: #e8c1bc;
    border-style: solid;
    border-width: 10px;
}

#homepage-bottom-image-1 {
    background-image: url('../images/index_couple_1.png');
    background-size: cover;
}

#homepage-bottom-image-2 {
    background-image: url('../images/index_couple_2.png');
    background-size: cover;
    border-left-width: 0;
    border-right-width: 0;
}

#homepage-bottom-image-3 {
    background-image: url('../images/index_couple_3.png');
    background-size: cover;
}

/* --------------- ABOUT US SECTION --------------------- */

.fa-heart {
    color: red;
}

/* About Us Content */

#about-us-content {
    padding-top: 20px;
    text-align: center;
}

.about-us-image {
    height: 240px;
    width: 240px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: top;
    margin-bottom: 20px;
}

.about-us-text {
    position: relative;
    height: auto;
    width: 65%;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}

.about-us-text .fa-heart {
    padding-right: 10px;
}

.about-us-lead-text {
    font-family: 'parisienne', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
}

.about-us-story-text {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

/* --------------- TRAVEL SECTION ----------------------- */

.fa-plane {
    color: lightblue;
}

.travel-section {
    min-height: 322px;
    padding: 9.6px;
}

.travel-title {
    font-family: 'parisienne', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30pt;
    padding-top: 10px;
}

.travel-section p {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    padding-top: 16px;
    text-align: left;
}

.travel-section img {
    min-width: 100%;
    max-height: 322px;
    overflow: hidden;
}

.travel-text {
    width: 90%;
    margin: auto;
}

/* --------------- HOTELS PAGE -------------------------- */

#hotels-content {
    padding-top: 10px;
    text-align: center;
    font-family: 'Roboto';
}

.hotel-section img, .hotel-section a, .hotel-section p{
    width: 60%;
    margin: auto;
    color: #4A3C47;
}

.hotel-section p {
    padding-bottom: 10px;
}

.hotel-section a {
    width: auto;
}

.hotel-link {
    color: black;
    display: inline-block;
    padding-top: 10px;
    font-size: 32px;
}

.hotel-link:hover {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* --------------- RSVP PAGE ---------------------------- */

form {
    padding-bottom: 10px;
}

.form-line {
    padding-top: 10px;
    margin: auto;
}

.meal-option {
    text-align: center;
}

.food-option {
    width: 33%;
    margin: auto;
    padding-left:10%;
}

.form-line textarea{
    text-align: left;
}

#submit-button {
    text-align: center;
    padding-top: 10px;
}

/* --------------- FOOTER AND SOCIAL LINKS -------------- */

/* Footer positioning */

#footer {
    position: absolute;
    width: 100%;
    height: 80px;
    min-height: 80px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#footer a {
    text-decoration: none;
}

/* Contact Details */

.contact-details {
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    color: #4A3C47;
    background-color: #e8bcde;
}

#phone-number {
    display: block;
    padding-top: 9px;
}

#email-address {
    display: block;
}

#email-address i {
    padding-right: 2px;
}

#email-link {
    color: inherit;
}

#postal-address {
    display: block;
}

/* Footer Logo */

.logo-footer-container {
    padding: 0;
    background-color: #e8bcde;
}

.logo-footer-container a {
    display: block;
    height: 80px;
    width: 100%;
}

.logo-footer {
    text-align: center;
    padding-top: 8px;
    font-size: 50px;
    font-family: 'sail', 'Times New Roman', Times, serif;
    color: #4A3C47;
}

/* Social Media Links */

.social-media-links {
    text-align: center;
    padding: 0;
}

.social-media-links .fa-brands {
    display: block;
    padding-top: 15px;
    font-size: 30px;
    color: #4A3C47;
}

.social-media-links .gender, .social-media-links a p {
    font-size: 15px;
    color: #4A3C47;
}

.social-media-links a {
    display: block;
    width: 100%;
    height: 80px;
}

.facebook-link, .twitter-link, .instagram-link {
    background-color: #e8bcde;
}

#instagram-hash, #twitter-hash {
    font-family:'roboto', Arial, Helvetica, sans-serif;
}

/* Footer effects */

#email-link:hover {
    text-decoration: none;
    font-weight: bolder;
}

.logo-footer-container a:hover {
    text-decoration: none;
}

.facebook-link a, .twitter-link a, .instagram-link a {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.facebook-link a:hover {
    background-color: #fff;
    .fa-facebook, .gender {
        color: #1877F2;
    }
}

.twitter-link a:hover {
    background-color: #000;
    .fa-x-twitter, #twitter-hash {
        color:#fff;
    }
}

.instagram-link a:hover {
    background-color: #fff;
    .fa-instagram, #instagram-hash {
        color: #000;
    }
}

.social-media-links a:hover {
    text-decoration: none;
}

/* -------- Tablet Media Queries ------------------------ */

@media screen and (max-width: 992px){

    /* Reduces navigation bar height by half, centers the content and reduces text size */
    .navbaritem, .navbaritem a {
        height: 60px;
    }
    .navbaritem i {
        padding-top: 10px;
        font-size: 16pt;
    }
    .navbaritem p {
        padding-top: 2px;
        font-size: 12pt;
    }

    /* Removes postal address from footer */
    #postal-address {
        display: none;
    }

    #phone-number {
        padding-top: 15px;
    }

    #email-address {
        padding-top: 8px;
    }

    /* Reduces size of footer logo */
    .logo-footer {
        font-size: 40px;
        padding-top: 13px;
    }

    /* Reduces social media hashtag size */
    .social-media-links a p {
        font-size: 10px;
        padding-top: 6px;
    }

    /* Homepage: reduce hero text size */
    #hero-title {
        font-size: 32pt;
    }

    /* Homepage: make hero image fill the div */
    #hero-image {
        height: 928px;
    }

    /* Homepage: add margin to index_couple_2 to centre images */
    #homepage-bottom-image-2 {
        border-right-width: 10px;
    }

    /* Hotels: increase page width of content */
    .hotel-section img, .hotel-section a, .hotel-section p{
        width: 70%;
    }
}

/* --------- Phone Media Queries ------------------------ */
@media screen and (max-width: 767px){

    /* Reduces logo bar height by half, centres and reduces content size */
    .logo-header, .logo-header a {
        height: 60px;
        text-align: center;
        padding-top: 2px;
    }
    .logo-header a i {
        font-size: 20pt;
    }
    .logo-header a span  {
        font-size: 32pt;
    }

    .logo-header i {
        padding-top: 0;
    }

    .logo-header h1 {
        padding-top: 4px;
    }
    
    /* Homepage: Hero Image moved below nav bar */
    #hero-outer {
        height: 480px;
    }

    /*Homepage: Style new div for hero text */
    #phone-hero-text {
        padding: 0;
        margin: auto;
        width: 95%;
    }
    #hero-info {
        padding: 0;
        background-color: #e8c1bc;
    }
    #hero-title {
        margin-top: 120px;
        font-size: 28pt;
        line-height: 40px;
        color: #4A3C47;
        padding-top: 10px;
    }
    #hero-invite {
        color: #4A3C47;
    }

    /* Homepage: adjust text box heights to fit all text */
    .homepage-title {
        padding-top: 20px;
    }

    .homepage-details {
        height: inherit;
    }

    /* Page title moved below navbar */
    .page-heading {
        height: 300px;
        padding-top: 200px;
    }

    /* About-us text to take up more of the screen */
    .about-us-text, {
        width: 90%;
    }

    /* Travel width set to 90% */
    .travel-text {
        width: 90%;
    }
    .travel-section {
        min-height: auto;
    }

    .travel-map {
        height: 320px;
    }

    /* Hotels: increase page width of content */
    .hotel-section img, .hotel-section a, .hotel-section p{
        width: 80%;
    }
}

/* --------- Small Phone Media Queries ------------------ */
@media screen and (max-width: 576px){

    /* Reduces footer text size and centres content vertically */
    .contact-details {
        font-size: 8px;
    }

    #phone-number {
        padding-top: 25px;
    }

    #email-address {
        padding-top: 10px;
    }
    .social-media-links a p {
        font-size: 7px;
        padding-top: 6px;
    }

    /* Page-title resize to fit on one line */
    .page-title {
        font-size: 28pt;
    }

    /* About us titles to fit on one line */
    .about-us-lead-text {
        font-size: 22pt;
    }
}