/* @import url('https://fonts.googleapis.com/css?family=); */


/* --------------- Special Text  --------------- */

.uppercase {
    text-transform: uppercase;
}

/* --------------- Header and Navigation --------------- */


header {
    position: fixed;
}



.menuouter {
    font-size: 0pt;
}

#nav li {
    font-size: 14pt;
    padding: 0;
}

.logo {
    background-color: blue;
}


.logo, .navbaritem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.logo span {
    font-size: 32pt;
    padding-top: 5px;
}

.logo a, .navbaritem a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.logo i {
    padding-top: 18px;
    display: block;
    font-size: 32pt;
}
.navbaritem i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 22pt ;
}

.navbaritem i {
    padding-top: 33px;
}

.navbaritem p {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;    
}

.ui-menu-color-home {
    background-color:  yellow;
}

.ui-menu-color-about {
    background-color: green;
}

.ui-menu-color-travel {
    background-color: red;
}

.ui-menu-color-hotels {
    background-color: orange;
}

.ui-menu-color-rsvp {
    background-color: brown;
}

.ui-menu-color-faq {
    background-color: gray;
}

/*-- Change starting colour --*/
.hvr-shutter-in-vertical:before {
    background: pink;
}

/*--Show background colours--*/
.hvr-shutter-in-vertical:hover {
    background-color: rgba(0,0,0,0);
}


/*-- Active page --*/
.active-page {
    text-decoration: underline;
}

/* -------- Tablet Media Queries ----------------------- */

@media screen and (max-width: 992px){

    /*---Reduces navigation bar height by half, centers the content and reduces text size---*/
    .navbaritem, .navbaritem a {
        height: 60px;
    }
    .navbaritem i {
        padding-top: 10px;
        font-size: 16pt;
    }
    .navbaritem p {
        padding-top: 2px;
        font-size: 12pt;
    }
}

/* --------- Phone Media Queries ----------------------- */
@media screen and (max-width: 768px){

    /*---Reduces logo bar height by half and moves font awesome icon inline and centers content---*/
    .logo, .logo a {
        height: 60px;
    }

    .logo span {
        padding-top: 0;
    }

    .logo i {
        display: inline;
        padding-top: 0;
    }
    .logo h1 {
        padding-top: 4px;
    }
}